$gutter: 16px;
$half-gutter: ($gutter / 2);
$quarter-gutter: ($gutter / 4);

///////
// COLORS
///////

$c-white: white;
$c-black: #333;
$c-pink: #ff0078;
$c-grey-lightest: #f3f3f3;
$c-grey-light: #ccc;
$c-grey: #999;

$c-brand: #54009d;
$c-brand-lighter: lighten($c-brand, 70%);
$c-brand-lightest: lighten($c-brand, 90%);
$c-brand-darker: darken($c-brand, 40%);

///////
// SIZES
///////

$s-nav: 45px;

$s-mq-big: 1024px;
$s-mq-small-only: $s-mq-big - 1px;

//----- MEDIA QUERIES

$mq-big: '(min-width: 1024px)';
$mq-small: '(max-width: 1023px)';
$mq-landscape: '(orientation: landscape)';

///////
// CSS VARS
///////

:root {
  --nav-height: 50px;
  --c-primary: #{$c-brand};
  --c-primary-darker: #{$c-brand-darker};
  --c-primary-lighter: #{$c-brand-lighter};
  --c-primary-lightest: #{$c-brand-lightest};
  --c-primary-contrast: white;
  --c-accent: #{$c-pink};
  --c-contrast: #{$c-pink};
  --c-grey-lightest: #{$c-grey-lightest};
  --c-grey-light: #{$c-grey-light};
  --gutter: #{$gutter};
  --half-gutter: #{$half-gutter};
  --quarter-gutter: #{$quarter-gutter};
}
