$gutter: 16px;
$half-gutter: ($gutter / 2);
$quarter-gutter: ($gutter / 4);

///////
// COLORS
///////

$c-white: white;
$c-black: #333;
$c-pink: #ff0078;
$c-grey-lightest: #f3f3f3;
$c-grey-light: #ccc;
$c-grey: #999;

$c-primary: hsl(272, 100%, 31%);
$c-primary-h: hue($c-primary) / 1deg;
$c-primary-s: saturation($c-primary);
$c-primary-l: lightness($c-primary);

$c-primary-lighter: hsl($c-primary-h, $c-primary-s, 79%);
$c-primary-lightest: hsl($c-primary-h, $c-primary-s, 93%);
$c-primary-darker: hsl($c-primary-h, $c-primary-s, 18%);

///////
// SIZES
///////

$s-nav: 45px;

$s-mq-big: 1024px;
$s-mq-small-only: $s-mq-big - 1px;

//----- MEDIA QUERIES

$mq-big: '(min-width: 1024px)';
$mq-small: '(max-width: 1023px)';
$mq-landscape: '(orientation: landscape)';

///////
// CSS VARS
///////

:root {
  --nav-height: 50px;
  --c-primary: #{$c-primary};
  --c-primary-darker: #{$c-primary-darker};
  --c-primary-lighter: #{$c-primary-lighter};
  --c-primary-lightest: #{$c-primary-lightest};
  --c-primary-contrast: white;
  --c-accent: #{$c-pink};
  --c-contrast: #{$c-pink};
  --c-grey-lightest: #{$c-grey-lightest};
  --c-grey-light: #{$c-grey-light};
  --gutter: #{$gutter};
  --half-gutter: #{$half-gutter};
  --quarter-gutter: #{$quarter-gutter};
}
