$gutter     = 16px;

///////
// COLORS
///////

$c-white      = white;
$c-black      = #333;
$c-blue       = blue;
$c-grey       = #999;
$c-grey-light = #CCC;

$c-brand      = $c-blue;
$c-brand-dark = darken($c-brand, 20%);
