$gutter     = 16px;

///////
// COLORS
///////

$c-white          = white;
$c-black          = #333;
$c-blue           = blue;
$c-pink           = #ff0078;
$c-grey-lightest  = #F3F3F3;
$c-grey-light     = #CCC;
$c-grey           = #999;

$c-brand          = $c-blue;
$c-brand-dark     = darken($c-brand, 40%);

///////
// SIZES
///////

$s-nav            = 45px;

$s-mq-big         = 1024px;
$s-mq-small-only  = $s-mq-big - 1px;
