*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  color: $c-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.is-html-fixed,
.is-html-fixed body {
  overflow: hidden;
}

body {
  background: $c-grey-light;
}

body,
.smooth-container {
  scroll-behavior: smooth;
}

#app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $c-white;
  padding-bottom: $s-nav;

  @media $mq-big {
    max-width: 1280px;
    margin: 0 auto;
  }
}

dl,
dd {
  padding:  0;
  margin:   0;
}

body > svg {
  hide();
}
.icon {
  fill: currentColor;
}
.svg-char {
  fill: var(--c-primary);
}

//----- REACT ANIMATIONS

.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  transition: opacity .3s linear;
  opacity: 1;
}

.fade-exit {
  transition: opacity .2s linear;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}
