*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  color: $c-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: $c-grey-light;
}
#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $c-white;

  > *:first-child {
    padding-top: $s-nav;
  }

  +mq('big') {
    max-width: 1280px;
    margin: 0 auto;
  }
}
header {
  position: relative;
}
dl,
dd {
  padding:  0;
  margin:   0;
}
dt {
  padding: $gutter $gutter ($gutter/2);
  background: $c-grey-lightest;
}

header,
.main,
footer {
  padding: $gutter;
}

footer {
  border-top: 1px solid $c-black;
  padding-bottom: ($gutter/2);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  > * {
    margin: .5em 0 0;
  }
}

// .main {
//   flex-grow: 1;
//   display: flex;
//   flex-direction: column;
// }

.version {
  font-size: 12px;
  margin-top: 1em;
  text-align: center;
  color: $c-grey;
}
