flex-center() {
  align-items: center;
  justify-content: center;
}

mq($$size) {
  if ($$size == "small-only") {
    @media only screen and (max-width: $s-mq-small-only) {
      {block}
    }
  } else if ($$size == "big") {
    @media only screen and (min-width: $s-mq-big) {
      {block}
    }
  } else if ($$size == "landscape") {
    @media only screen and (orientation: landscape) {
      {block}
    }
  } else {
    {block}
  }
}

fluid-fs( $ffs = 1) {
  $ffsX2 = $ffs * 2
  'calc(%svw + %svh + %svmin)' % ($ffsX2 $ffsX2 $ffs);
}

hide() {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
