flex-center() {
  align-items: center;
  justify-content: center;
}

// workaround for compiling grid-regions with stylus
// https://github.com/stylus/stylus/issues/2306
// b for bracket
b(val) {
  unquote("[") + val + unquote("]");
}

// https://codepen.io/CrocoDillon/pen/fBJxu
fluid-fs( $ffs = 1) {
  $ffsX2 = $ffs * 2
  'calc(%svw + %svh + %svmin)' % ($ffsX2 $ffsX2 $ffs);
}

hide() {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
