.icon-arrow-back {
  width: 24px;
  height: 24px;
}

.icon-close {
  width: 24px;
  height: 24px;
}

.icon-help-outline {
  width: 24px;
  height: 24px;
}

.icon-home {
  width: 24px;
  height: 24px;
}

.icon-info-outline {
  width: 24px;
  height: 24px;
}

.icon-search {
  width: 24px;
  height: 24px;
}

.icon-settings {
  width: 24px;
  height: 24px;
}

.icon-thailpha-firebase {
  width: 200px;
  height: 200px;
}

