.char-c-bo-baimai {
  width: 100px;
  height: 100px;
}

.char-c-cho-chang {
  width: 100px;
  height: 100px;
}

.char-c-cho-ching {
  width: 100px;
  height: 100px;
}

.char-c-cho-choe {
  width: 100px;
  height: 100px;
}

.char-c-do-cha-da {
  width: 100px;
  height: 100px;
}

.char-c-do-dek {
  width: 100px;
  height: 100px;
}

.char-c-fo-fa {
  width: 100px;
  height: 100px;
}

.char-c-fo-fan {
  width: 100px;
  height: 100px;
}

.char-c-ho-hip {
  width: 100px;
  height: 100px;
}

.char-c-ho-nok-huk {
  width: 100px;
  height: 100px;
}

.char-c-jo-jan {
  width: 100px;
  height: 100px;
}

.char-c-kho-khai {
  width: 100px;
  height: 100px;
}

.char-c-kho-khon {
  width: 100px;
  height: 100px;
}

.char-c-kho-khuat {
  width: 100px;
  height: 100px;
}

.char-c-kho-khwai {
  width: 100px;
  height: 100px;
}

.char-c-kho-ra-khang {
  width: 100px;
  height: 100px;
}

.char-c-ko-kai {
  width: 100px;
  height: 100px;
}

.char-c-lo-chu-la {
  width: 100px;
  height: 100px;
}

.char-c-lo-ling {
  width: 100px;
  height: 100px;
}

.char-c-mo-ma {
  width: 100px;
  height: 100px;
}

.char-c-ngo-ngu {
  width: 100px;
  height: 100px;
}

.char-c-no-nen {
  width: 100px;
  height: 100px;
}

.char-c-no-nu {
  width: 100px;
  height: 100px;
}

.char-c-o-ang {
  width: 100px;
  height: 100px;
}

.char-c-pho-phan {
  width: 100px;
  height: 100px;
}

.char-c-pho-phueng {
  width: 100px;
  height: 100px;
}

.char-c-pho-sam-phao {
  width: 100px;
  height: 100px;
}

.char-c-po-pla {
  width: 100px;
  height: 100px;
}

.char-c-ro-ruea {
  width: 100px;
  height: 100px;
}

.char-c-so-rue-si {
  width: 100px;
  height: 100px;
}

.char-c-so-sala {
  width: 100px;
  height: 100px;
}

.char-c-so-so {
  width: 100px;
  height: 100px;
}

.char-c-so-suea {
  width: 100px;
  height: 100px;
}

.char-c-tho-montho {
  width: 100px;
  height: 100px;
}

.char-c-tho-phu-thao {
  width: 100px;
  height: 100px;
}

.char-c-tho-thahan {
  width: 100px;
  height: 100px;
}

.char-c-tho-than {
  width: 100px;
  height: 100px;
}

.char-c-tho-thong {
  width: 100px;
  height: 100px;
}

.char-c-tho-thung {
  width: 100px;
  height: 100px;
}

.char-c-to-pa-tak {
  width: 100px;
  height: 100px;
}

.char-c-to-tao {
  width: 100px;
  height: 100px;
}

.char-c-wo-waen {
  width: 100px;
  height: 100px;
}

.char-c-yo-yak {
  width: 100px;
  height: 100px;
}

.char-c-yo-ying {
  width: 100px;
  height: 100px;
}

.char-dm-am {
  width: 100px;
  height: 100px;
}

.char-dm-reu {
  width: 100px;
  height: 100px;
}

.char-n-chet {
  width: 100px;
  height: 100px;
}

.char-n-ha {
  width: 100px;
  height: 100px;
}

.char-n-hok {
  width: 100px;
  height: 100px;
}

.char-n-kao {
  width: 100px;
  height: 100px;
}

.char-n-lan {
  width: 100px;
  height: 100px;
}

.char-n-muen {
  width: 100px;
  height: 100px;
}

.char-n-nueng {
  width: 100px;
  height: 100px;
}

.char-n-paet {
  width: 100px;
  height: 100px;
}

.char-n-phan {
  width: 100px;
  height: 100px;
}

.char-n-roi {
  width: 100px;
  height: 100px;
}

.char-n-saen {
  width: 100px;
  height: 100px;
}

.char-n-sam {
  width: 100px;
  height: 100px;
}

.char-n-si {
  width: 100px;
  height: 100px;
}

.char-n-sip-et {
  width: 100px;
  height: 100px;
}

.char-n-sip {
  width: 100px;
  height: 100px;
}

.char-n-song {
  width: 100px;
  height: 100px;
}

.char-n-sun {
  width: 100px;
  height: 100px;
}

.char-n-yi-sip {
  width: 100px;
  height: 100px;
}

.char-vl-sara-aa {
  width: 100px;
  height: 100px;
}

.char-vl-sara-aae {
  width: 100px;
  height: 100px;
}

.char-vl-sara-aaw {
  width: 100px;
  height: 100px;
}

.char-vl-sara-aeh {
  width: 100px;
  height: 100px;
}

.char-vl-sara-ee {
  width: 100px;
  height: 100px;
}

.char-vl-sara-eer-variant-0 {
  width: 100px;
  height: 100px;
}

.char-vl-sara-eer {
  width: 100px;
  height: 100px;
}

.char-vl-sara-euu {
  width: 100px;
  height: 100px;
}

.char-vl-sara-o {
  width: 100px;
  height: 100px;
}

.char-vl-sara-uu {
  width: 100px;
  height: 100px;
}

.char-vs-sara-a-variant-0 {
  width: 100px;
  height: 100px;
}

.char-vs-sara-a-variant-1 {
  width: 100px;
  height: 100px;
}

.char-vs-sara-a {
  width: 100px;
  height: 100px;
}

.char-vs-sara-ae-variant-0 {
  width: 100px;
  height: 100px;
}

.char-vs-sara-ae-variant-1 {
  width: 100px;
  height: 100px;
}

.char-vs-sara-ae {
  width: 100px;
  height: 100px;
}

.char-vs-sara-aw-variant-0 {
  width: 100px;
  height: 100px;
}

.char-vs-sara-aw {
  width: 100px;
  height: 100px;
}

.char-vs-sara-e-variant-0 {
  width: 100px;
  height: 100px;
}

.char-vs-sara-e {
  width: 100px;
  height: 100px;
}

.char-vs-sara-er-variant-0 {
  width: 100px;
  height: 100px;
}

.char-vs-sara-er {
  width: 100px;
  height: 100px;
}

.char-vs-sara-i {
  width: 100px;
  height: 100px;
}

.char-vs-sara-o {
  width: 100px;
  height: 100px;
}

.char-vs-sara-u {
  width: 100px;
  height: 100px;
}

.char-vs-sara-ue {
  width: 100px;
  height: 100px;
}

