.icon-arrow-back {
  width: 16px;
  height: 16px;
}

.icon-home {
  width: 20px;
  height: 18px;
}

.icon-close {
  width: 24px;
  height: 24px;
}

.icon-help-outline {
  width: 24px;
  height: 24px;
}

.icon-info-outline {
  width: 24px;
  height: 24px;
}

.icon-search {
  width: 24px;
  height: 24px;
}

.icon-settings {
  width: 20px;
  height: 20px;
}

