.char-c-bo-baimai {
  width: 6.25em;
  height: 6.25em;
}

.char-c-cho-chang {
  width: 6.25em;
  height: 6.25em;
}

.char-c-cho-ching {
  width: 6.25em;
  height: 6.25em;
}

.char-c-cho-choe {
  width: 6.25em;
  height: 6.25em;
}

.char-c-do-cha-da {
  width: 6.25em;
  height: 6.25em;
}

.char-c-do-dek {
  width: 6.25em;
  height: 6.25em;
}

.char-c-fo-fa {
  width: 6.25em;
  height: 6.25em;
}

.char-c-fo-fan {
  width: 6.25em;
  height: 6.25em;
}

.char-c-ho-hip {
  width: 6.25em;
  height: 6.25em;
}

.char-c-ho-nok-huk {
  width: 6.25em;
  height: 6.25em;
}

.char-c-jo-jan {
  width: 6.25em;
  height: 6.25em;
}

.char-c-kho-khai {
  width: 6.25em;
  height: 6.25em;
}

.char-c-kho-khon {
  width: 6.25em;
  height: 6.25em;
}

.char-c-kho-khuat {
  width: 6.25em;
  height: 6.25em;
}

.char-c-kho-khwai {
  width: 6.25em;
  height: 6.25em;
}

.char-c-kho-ra-khang {
  width: 6.25em;
  height: 6.25em;
}

.char-c-ko-kai {
  width: 6.25em;
  height: 6.25em;
}

.char-c-lo-chu-la {
  width: 6.25em;
  height: 6.25em;
}

.char-c-lo-ling {
  width: 6.25em;
  height: 6.25em;
}

.char-c-mo-ma {
  width: 6.25em;
  height: 6.25em;
}

.char-c-ngo-ngu {
  width: 6.25em;
  height: 6.25em;
}

.char-c-no-nen {
  width: 6.25em;
  height: 6.25em;
}

.char-c-no-nu {
  width: 6.25em;
  height: 6.25em;
}

.char-c-o-ang {
  width: 6.25em;
  height: 6.25em;
}

.char-c-pho-phan {
  width: 6.25em;
  height: 6.25em;
}

.char-c-pho-phueng {
  width: 6.25em;
  height: 6.25em;
}

.char-c-pho-sam-phao {
  width: 6.25em;
  height: 6.25em;
}

.char-c-po-pla {
  width: 6.25em;
  height: 6.25em;
}

.char-c-ro-ruea {
  width: 6.25em;
  height: 6.25em;
}

.char-c-so-rue-si {
  width: 6.25em;
  height: 6.25em;
}

.char-c-so-sala {
  width: 6.25em;
  height: 6.25em;
}

.char-c-so-so {
  width: 6.25em;
  height: 6.25em;
}

.char-c-so-suea {
  width: 6.25em;
  height: 6.25em;
}

.char-c-tho-montho {
  width: 6.25em;
  height: 6.25em;
}

.char-c-tho-phu-thao {
  width: 6.25em;
  height: 6.25em;
}

.char-c-tho-thahan {
  width: 6.25em;
  height: 6.25em;
}

.char-c-tho-than {
  width: 6.25em;
  height: 6.25em;
}

.char-c-tho-thong {
  width: 6.25em;
  height: 6.25em;
}

.char-c-tho-thung {
  width: 6.25em;
  height: 6.25em;
}

.char-c-to-pa-tak {
  width: 6.25em;
  height: 6.25em;
}

.char-c-to-tao {
  width: 6.25em;
  height: 6.25em;
}

.char-c-wo-waen {
  width: 6.25em;
  height: 6.25em;
}

.char-c-yo-yak {
  width: 6.25em;
  height: 6.25em;
}

.char-c-yo-ying {
  width: 6.25em;
  height: 6.25em;
}

.char-consonant-explanation {
  width: 21.875em;
  height: 18.125em;
}

.char-dl-iia {
  width: 6.25em;
  height: 6.25em;
}

.char-dl-sara-euua {
  width: 6.25em;
  height: 6.25em;
}

.char-dl-sara-uua {
  width: 6.25em;
  height: 6.25em;
}

.char-ds-sara-ia {
  width: 6.25em;
  height: 6.25em;
}

.char-ds-sara-ua {
  width: 6.25em;
  height: 6.25em;
}

.char-ds-sara-uea {
  width: 6.25em;
  height: 6.25em;
}

.char-gl-aaeo {
  width: 6.25em;
  height: 6.25em;
}

.char-gl-aai-variant-0 {
  width: 6.25em;
  height: 6.25em;
}

.char-gl-aai {
  width: 6.25em;
  height: 6.25em;
}

.char-gl-aao {
  width: 6.25em;
  height: 6.25em;
}

.char-gl-aawy {
  width: 6.25em;
  height: 6.25em;
}

.char-gl-aeo {
  width: 6.25em;
  height: 6.25em;
}

.char-gl-eeuy {
  width: 6.25em;
  height: 6.25em;
}

.char-gl-euuay {
  width: 6.25em;
  height: 6.25em;
}

.char-gl-iaao {
  width: 6.25em;
  height: 6.25em;
}

.char-gl-ooy {
  width: 6.25em;
  height: 6.25em;
}

.char-gl-uaaw {
  width: 6.25em;
  height: 6.25em;
}

.char-gl-uaay {
  width: 6.25em;
  height: 6.25em;
}

.char-gs-ao {
  width: 6.25em;
  height: 6.25em;
}

.char-gs-eo {
  width: 6.25em;
  height: 6.25em;
}

.char-gs-iu {
  width: 6.25em;
  height: 6.25em;
}

.char-gs-oi {
  width: 6.25em;
  height: 6.25em;
}

.char-gs-sara-ai-variant-0 {
  width: 6.25em;
  height: 6.25em;
}

.char-gs-sara-ai-variant-1 {
  width: 6.25em;
  height: 6.25em;
}

.char-gs-sara-ai-variant-2 {
  width: 6.25em;
  height: 6.25em;
}

.char-gs-sara-ai {
  width: 6.25em;
  height: 6.25em;
}

.char-gs-uay {
  width: 6.25em;
  height: 6.25em;
}

.char-gs-ui {
  width: 6.25em;
  height: 6.25em;
}

.char-m-am {
  width: 6.25em;
  height: 6.25em;
}

.char-m-reu {
  width: 6.25em;
  height: 6.25em;
}

.char-n-ha {
  width: 6.25em;
  height: 6.25em;
}

.char-n-hok {
  width: 6.25em;
  height: 6.25em;
}

.char-n-jet {
  width: 6.25em;
  height: 6.25em;
}

.char-n-kao {
  width: 6.25em;
  height: 6.25em;
}

.char-n-lan {
  width: 6.25em;
  height: 6.25em;
}

.char-n-muen {
  width: 6.25em;
  height: 6.25em;
}

.char-n-nueng {
  width: 6.25em;
  height: 6.25em;
}

.char-n-paet {
  width: 6.25em;
  height: 6.25em;
}

.char-n-phan {
  width: 6.25em;
  height: 6.25em;
}

.char-n-roi {
  width: 6.25em;
  height: 6.25em;
}

.char-n-saen {
  width: 6.25em;
  height: 6.25em;
}

.char-n-sam {
  width: 6.25em;
  height: 6.25em;
}

.char-n-si {
  width: 6.25em;
  height: 6.25em;
}

.char-n-sip-et {
  width: 6.25em;
  height: 6.25em;
}

.char-n-sip {
  width: 6.25em;
  height: 6.25em;
}

.char-n-song {
  width: 6.25em;
  height: 6.25em;
}

.char-n-sun {
  width: 6.25em;
  height: 6.25em;
}

.char-n-yi-sip {
  width: 6.25em;
  height: 6.25em;
}

.char-tm-mai-chattawa {
  width: 6.25em;
  height: 6.25em;
}

.char-tm-mai-ek {
  width: 6.25em;
  height: 6.25em;
}

.char-tm-mai-tho {
  width: 6.25em;
  height: 6.25em;
}

.char-tm-mai-tri {
  width: 6.25em;
  height: 6.25em;
}

.char-vl-sara-aa {
  width: 6.25em;
  height: 6.25em;
}

.char-vl-sara-aae {
  width: 6.25em;
  height: 6.25em;
}

.char-vl-sara-aaw {
  width: 6.25em;
  height: 6.25em;
}

.char-vl-sara-aeh {
  width: 6.25em;
  height: 6.25em;
}

.char-vl-sara-ee {
  width: 6.25em;
  height: 6.25em;
}

.char-vl-sara-eer-variant-0 {
  width: 6.25em;
  height: 6.25em;
}

.char-vl-sara-eer {
  width: 6.25em;
  height: 6.25em;
}

.char-vl-sara-euu {
  width: 6.25em;
  height: 6.25em;
}

.char-vl-sara-o {
  width: 6.25em;
  height: 6.25em;
}

.char-vl-sara-uu {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-a-variant-0 {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-a-variant-1 {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-a {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-ae-variant-0 {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-ae-variant-1 {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-ae {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-aw-variant-0 {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-aw {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-e-variant-0 {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-e {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-er-variant-0 {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-er {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-i {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-o {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-u {
  width: 6.25em;
  height: 6.25em;
}

.char-vs-sara-ue {
  width: 6.25em;
  height: 6.25em;
}

