.link {
  color: var(--c-primary);
}
.btn {
  text-decoration: none;
  background: var(--c-primary);
  border-radius: 0;
  border: 0;
  color: var(--c-primary-contrast);
  box-shadow: 0 10px 0 -5px var(--c-grey-lightest);
  cursor: pointer;
  padding: 1em 1.25em;
  font-size: 1em;
  transition: transform 0.2s ease;

  &:hover,
  &:focus {
    transform: scale(1.02);
    outline: none;
  }

  &:focus {
    outline: 3px solid var(--c-accent);
  }
  &:active {
    background: var(--c-accent);
  }
}
