.h1 {
  text-align: left;
  font-weight: 300;
  text-transform: uppercase;
}
.h2 {
  font-weight: 700;
  text-transform: uppercase;
}
.h1,
.h2 {
  margin-bottom: 0;
}

.thai-letter,
.thai-letter a {
  color: $c-brand-dark;
  text-decoration: none;
}
