.h1 {
  text-align: left;
  font-weight: 300;
  text-transform: uppercase;
}
.h2 {
  font-weight: 700;
  text-transform: uppercase;
}
.h1,
.h2 {
  margin-bottom: 0;
}

.thai-letter,
.thai-letter a {
  font-size: 1.5em;
  font-weight: 200;
  line-height: .8;
  color: $c-brand-dark;
  text-decoration: none;
  // font-family: SF Optimized, system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.c-yo-ying,
.c-do-cha-da,
.c-to-pa-tak,
.c-tho-than {
  transform: translateY(-15%);
}

// Optimized
