.h1 {
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.h2 {
  font-weight: 700;
  text-transform: uppercase;
}
.h1,
.h2 {
  margin-bottom: 0;
}

.thai-letter,
.thai-letter a {
  color: var(--c-primary-darker);
  text-decoration: none;
}
