.about {
  min-height: calc(100vh - var(--nav-height));

  @media $mq-small {
    display: flex;
    flex-direction: column;
  }

  @media $mq-big {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gutter);
  }

  &__title,
  &__topic,
  &__detail,
  &__footer {
    padding: var(--gutter);
  }
  &__title,
  &__footer {
    grid-column: 1 / span 2;
  }
  &__topic {
    padding-bottom: var(--half-gutter);
    text-transform: uppercase;
    background: var(--c-grey-lightest);
    position: relative;

    @media $mq-small {
      padding-left: 2em;

      &::before {
        content: '';
      }
    }

    .about__section--is-selected &::before {
      transform: rotate(90deg);
      border-left-color: var(--c-primary-lighter);
    }

    &::before {
      display: inline-block;
      border-color:  transparent transparent transparent var(--c-grey-light);
      border-width: 10px;
      border-style: solid;
      position: absolute;
      left: .7em;
      top: .7em;
      transform-origin: 25% 50%;
      transition: transform .25s;
    }
  }
  &__detail {
    padding-top: var(--half-gutter);

    li + li {
      padding-top: var(--quarter-gutter);
    }
  }
  &__footer {
    @media $mq-small {
      margin-top: auto;
    }
  }

  @media $mq-small {
    &__section--is-selected &__topic {
      background: var(--c-primary-lightest);
    }
    &__section--is-not-selected + &__section--is-not-selected &__topic {
      border-top: 1px solid var(--c-grey-light);
    }
    &__section--is-not-selected &__detail {
      display: none;
    }
  }
}

.version {
  font-size: 12px;
  margin: 0;
  text-align: center;
  color: $c-grey;
}
