.settings {
  height: 'calc(100vh - %s)' % $s-nav;
  display: flex;
  flex-direction: column;

  > * {
    padding: $gutter;
  }
}

.version {
  font-size: 12px;
  margin-top: 1em;
  text-align: center;
  color: $c-grey;
}
