#letter {
  position: fixed;
  top:0;
  right: 0;
  bottom: $s-nav;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: $c-white;
}

:root {
  --variant-height: 25vh;
}

.letter-container {
  height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;

  @media $mq-landscape {
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "meaning          letter"\
      "additional-info  letter";

    &.has-variant {
      grid-template-rows: $gutter var(--variant-height) 1fr 1fr var(--variant-height) $gutter;
      grid-template-areas:
      "meaning          letter"\
      "meaning          letter"\
      "meaning          letter"\
      "additional-info  letter"\
      "additional-info  variant"\
      "additional-info  gutter";
    }

    &.has-similar {
      grid-template-rows: 1fr 1fr 50px;
      grid-template-areas:
      "meaning          letter"\
      "additional-info  letter"\
      "similar-hint     similar-hint";
    }
    &.has-variant.has-similar {
      grid-template-rows: $gutter var(--variant-height) 1fr 1fr var(--variant-height) $gutter 50px;
      grid-template-areas:
      "meaning          letter"\
      "meaning          letter"\
      "meaning          letter"\
      "additional-info  letter"\
      "additional-info  variant"\
      "additional-info  gutter"\
      "similar-hint     similar-hint";
    }
  }
}
.thai-letter--principal {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-center();

  @media $mq-landscape {
    justify-self: stretch;
    grid-area: letter;
  }
}
.letter-hint,
.letter-meaning,
.letter-thai,
.letter-additional-info {
  text-align: center;
}
.letter-meaning,
.letter-additional-info {
  font-size: fluid-fs(1);
  padding: $gutter;
  font-weight: 300;

  @media $mq-landscape {
    border-right: 1px solid $c-grey-light;
  }
}

.letter-meaning {
  margin: 0;
  grid-area: meaning;

  &__translation {
    display: block;
    color: $c-grey;
  }
  &__thai {
    display: none;

    @media $mq-landscape {
      display: block;
    }
  }
}

.letter-additional-info {

  @media $mq-landscape {
    grid-area: additional-info;
    border-top: 1px solid $c-grey-light;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__full {
    grid-column: 1 / span 2;
    text-align: center;
  }
  &__label,
  &__value {
    display: inline-block;
  }
  &__label {
    color: $c-grey;
    padding: 0 .5em;

    @media $mq-landscape {
      padding: 0;
    }
  }
}

.letter-hint {
  border-top: 1px solid $c-black;
  padding: $gutter;
  margin: 0;
}

.letter-variant {
  list-style: none;
  padding: 0;
  margin: $gutter;
  // use grid to have an easier way to handle the gutter
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1px;
  font-size: .5em;

  &:empty {
    display: none;
  }

  @media $mq-landscape {
    grid-gap: 1rem;
    width: 75%;
    margin: 0 auto;
    border-left: 1px solid $c-grey-light;
  }

  &__item {
    flex-center();
    height: var(--variant-height);
    display: flex;
    box-shadow:0 0 0 1px $c-grey-light;
  }
}

.thai-letter--variant {
  width: 100%;
  height: 100%;
}

.letter-hint {
  @media $mq-landscape {
    grid-area: similar-hint;
  }
}

.letter-similar {
  width: 100%;
  border-spacing: 0;
  border: solid $c-grey-light;
  border-width: 1px 0 0;

  &__row:nth-child(odd) {
    background: $c-grey-lightest;
  }

  &__col {
    border-collapse: collapse;
    border: solid $c-grey-light;
    border-width: 0 0 1px;
    font-size: 20px;
    padding: $gutter 0;

    &:first-child {
      padding: var(--quarter-gutter) 0 var(--quarter-gutter) var(--gutter);
    }
    &:last-child {
      padding-right: var(--gutter);
    }
    &.thai-letter--similar {
      font-size: .5em;
    }
  }
}
