#letter {
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: $c-white;
}

.letter-container {
  min-height: 100vh;
}
.letter-hint,
.letter-meaning,
.letter-thai,
.letter-pronunciation {
  text-align: center;
}
.letter-meaning,
.letter-pronunciation {
  font-size: 7vw;
  padding: $gutter;
  font-weight: 300;
}
.letter-meaning {
  margin: 0;
  padding-bottom: 0;
}
  .letter-meaning-translation {
    display: block;
    color: $c-grey;
  }
  .letter-meaning-thai {
    display: none;
  }

.letter-pronunciation {
  padding-top: 0;
}
.letter-pronunciation-label {
  color: $c-grey;
  padding: 0 .5em;
}

.letter-hint {
  border-top: 1px solid $c-black;
  padding: $gutter;
  margin: 0;
}

.letter-container {
  > .thai-letter {
    font-size: 90vw;
    font-weight: 400;
    line-height: 1;
  }

  &.is-vowel > .thai-letter {
    font-size: 45vw;
  }
  &.class-high {
    background: $c-high;
  }
  &.class-low {
    background: $c-low;
  }
  .thai-letter {
    &.n-sip,
    &.n-sip-et,
    &.n-yi-sip { font-size: 75vw; }
    &.n-roi {    font-size: 50vw; }
    &.n-phan {   font-size: 35vw; }
    &.n-muen {   font-size: 30vw; }
    &.n-saen {   font-size: 25vw; }
    &.n-lan {    font-size: 20vw; }
  }
}

.letter-variant {
  list-style: none;
  padding: 0;
  margin: $gutter;

  li {
    border: 1px solid $c-grey-light;
    font-size: 15vw;
    line-height: 0;

    + li {
      border-left: 0;
    }
  }
}

+mq('landscape') {
  .letter-container {
    position: relative;
    align-items: flex-end;

    .thai-letter {
      font-size: 30vw;
      width: 75%;
      border-left: 1px solid $c-grey-light;
    }
    .letter-meaning,
    .letter-pronunciation {
      position: absolute;
      width: 25%;
      left: 0;
      font-size: 4vw;
    }
    .letter-pronunciation {
      padding-top: $gutter;
      border-top: 1px solid $c-grey-light;
      top: 50%;
      span {
        float: left;
      }
      .letter-pronunciation-label {
        clear: left;
      }
    }

    .letter-hint {
      width: 100%;
    }
  }
}

+mq('big') {
  .letter-container {
    .thai-letter {
      font-size: 55vw;
      line-height: 0;
    }
  }
}

.no-flexbox {
  .letter-container {
    position: relative;

    .thai-letter {
      position: absolute;
      top: 45px;
      bottom: 50px;
      left: 0;
      right: 0;

      +mq('landscape') {
        left: 25%;
      }
    }

    .letter-pronunciation {
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
    }

    .letter-hint {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}


.flexbox {

  .letter-container {
    display: flex;
    flex-direction: column;
  }
  .letter-meaning {
    order: 1;
  }
  .letter-pronunciation {
    order: 3;
  }
  .letter-hint {
    order: 4;
  }
  .letter-container {
    > .thai-letter {
      order: 2;
      flex-grow: 1;
      display: flex;
      flex-center();
    }
  }
  .letter-variant {
    order: 4;
    flex-grow: 1;
    display: flex;

    li {
      display: flex;
      flex-center();

      flex-grow: 1;
      flex-basis: 1%;

    }
  }
}
