.letter-container {
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
}
.letter-hint,
.letter-meaning,
.letter-thai,
.letter-pronunciation {
  text-align: center;
}
.letter-meaning,
.letter-pronunciation {
  font-size: 7vw;
  padding: $gutter;
  font-weight: 300;
}
.letter-meaning {
  order: 1;
  margin: 0;
}
.letter-meaning-thai {
  display: none;
}

.letter-pronunciation {
  order: 3;
}
.letter-pronunciation-label {
  color: $c-grey;
  padding: 0 .5em;
}

.letter-hint {
  order: 4;
  border-top: 1px solid $c-black;
  padding: $gutter;
  margin: 0;
}

.letter-container {
  > .thai-letter {
    order: 2;
    flex-grow: 1;
    font-size: 90vw;
    font-weight: 400;
    display: flex;
    flex-center();
    line-height: 1;
  }

  &.is-vowel > .thai-letter {
    font-size: 45vw;
  }
  .thai-letter {
    &.n-sip,
    &.n-sip-et,
    &.n-yi-sip { font-size: 75vw; }
    &.n-roi {    font-size: 50vw; }
    &.n-phan {   font-size: 35vw; }
    &.n-muen {   font-size: 30vw; }
    &.n-saen {   font-size: 25vw; }
    &.n-lan {    font-size: 20vw; }
  }
}

.letter-variant {
  order: 4;
  flex-grow: 1;
  display: flex;
  list-style: none;
  padding: 0;
  margin: $gutter;

  li {
    display: flex;
    flex-center();
    border: 1px solid $c-grey-light;
    font-size: 15vw;
    flex-grow: 1;
    flex-basis: 1%;
    line-height: 0;

    + li {
      border-left: 0;
    }
  }
}

