.main-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $c-black;
  text-decoration: none;
  color: $c-white;
  display: flex;

  &__search {
    height: $s-nav;
    margin: 0 $gutter;
    flex-grow: 1;
    background: none;
    font-size: 18px;
    color: $c-white;
    outline: 0;
    border: 0;
    flex-grow: 1;

    &:disabled {
      &::-webkit-input-placeholder {  color: transparent; }
      &::-moz-placeholder {           color: transparent; }
      &:-ms-input-placeholder {       color: transparent; }
      &:-moz-placeholder {            color: transparent; }
    }
  }

  &__btn {
    flex-grow: 0;
    flex-shrink: 0;
    height: $s-nav;
    padding: 1em $gutter;
    color: $c-white;
    text-decoration: none;

    &.is-active {
      background: $c-brand;
    }
  }
}
