.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $c-black;
  text-decoration: none;
  color: $c-white;

  a {
    height: $s-nav;
    padding: 1em $gutter;
    color: $c-white;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__search {
    height: $s-nav;
    margin: 0 $gutter;
    flex-grow: 1;
    background: none;
    font-size: 18px;
    color: $c-white;
    outline: 0;
    border: 0;
    width: 60%;
  }
  .top-nav-back {
    float: left;
  }
  &__settings {
    float: right;
  }
  .top-nav-home {
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
