.search {
  height: var(--nav-height);
  display: flex;
  border: solid var(--c-primary);
  border-width: 5px 0 5px 5px;

  &__input {
    flex-grow: 1;
    border: 0;
    font-size: 18px;
    padding: 0 $gutter;
  }
  &__reset {
    border: 0;
    background: var(--c-primary);
    margin: 0;
    width: var(--nav-height);
    flex-shrink: 0;
    position: relative;

    svg {
      // pos absolute centering because buttons doesn't play well with display flex everywhere
      position: absolute;
      top: 50%;
      left: @top;
      transform: translate(-50%, -50%);
      fill: var(--c-primary-contrast);
    }
  }
}

.search-no-result {
  text-align: center;
}
