table {
  width: 100%;
  border-spacing: 0;
  border: solid $c-grey-light;
  border-width: 1px 0 0;
}
td {
  border-collapse: collapse;
  border: solid $c-grey-light;
  border-width: 0 0 1px;
  font-size: 20px;
  padding: $gutter 0;

  &.thai-letter {
    font-size: 2.5em;
  }
}
td:first-child {
  padding: $gutter $gutter;
}
td:last-child {
  padding-right: $gutter;
}
tr:nth-child(odd) {
  background: $c-grey-lightest;
}
