.top-nav {
  order: -1;
  background: $c-black;
  text-decoration: none;
  color: $c-white;

  display: flex;
  align-items: center;

  a {
    height: 40px;
    padding: ($gutter/1.25) $gutter;
    color: $c-white;
    text-decoration: none;
  }
}

.top-nav-settings {
  margin-left: auto;
}
