.top-nav {
  order: -1;
  background: $c-black;
  padding: ($gutter/2) $gutter;
  text-decoration: none;
  color: $c-white;
  min-height: 40px;
  display: flex;
  align-items: center;

  a {
    color: $c-white;
    text-decoration: none;
  }
}

.top-nav-settings {
  margin-left: auto;
}
