.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $c-black;
  text-decoration: none;
  color: $c-white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    height: $s-nav;
    padding: 0 $gutter;
    color: $c-white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }

  input {
    height: $s-nav;
    margin: 0 $gutter;
    flex-grow: 1;
    background: none;
    font-size: 18px;
    color: $c-white;
    outline: 0;
    border: 0;
  }
}
.top-nav-home:last-child {
  margin-right: auto;
  margin-left: auto;
  transform: translateX(-50%);
}

.top-nav-settings:first-child {
  margin-left: auto;
}
